<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Contect</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
    <link th:href="@{css/home2.css}" rel="stylesheet">
     <link th:href="@{css/home.css}" rel="stylesheet">
</head>
	
	
	<body>
	<section th:replace="home::header1">
      hello
	</section>
	</body>
</html>
	